<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Simple Vue Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
    <h1>Vue is awesome!</h1>
    <main id="app">
        <h3>{{ welcomeMessage }}</h3>
        <ul>
            <li v-for="fruit in deliciousFruit"> <!-- For each and then inside " " is an array -->
                <!-- Show me fruit details -->

                <p v-on:click="logFruit">
                    {{ fruit.name }} is {{ fruit.flavour }}
                </p>


            </li>
        </ul>
        <a v-bind:href="targetURL" target="_blank" :class="{ 'no-decorate' : anchorOff }">Go to the Vue documentation</a>
        
        <p v-if="hazVue">
            {{ anotherMessage }}
        </p>

        <button v-on:click="changeText">Change Contenet</button>
    </main>

    <footer id="footer">
        <h4>{{ footerMessage }}</h4>
    </footer>

    <script src="js/main.js"></script>
</body>
</html>